.comboboxWrapper {
  position: relative;
  display: inline-block;
  width: 300px;
  border: 1px solid #dfe1e5;
}

.combobox {
  display: flex;
  min-height: 1rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding-right: 1rem;
}

.combobox::after {
  content: "\25BC";
  position: absolute;

  width: 1rem;
  text-align: center;
  font-size: 0.8rem;
  top: 1px;
  right: 1px;
  bottom: 1px;
  overflow: hidden;
  background-color: #fff;
}

.combobox.disabled {
  opacity: 0.5;
}

.display {
  flex: 1;
}

.listbox {
  overflow: auto;
  border: 1px solid rgba(0, 0, 0, 0.15);
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
}

.option {
  padding: 0.5em 1em 0.5em 1.5em;
  position: relative;
}

.option + .option {
  border-top: 1px solid rgba(0, 0, 0, 0.15);
}

.option:not(.disabled) {
  cursor: pointer;
}

.option:not(.disabled):hover {
  background-color: aliceblue;
}

.option.selected::before {
  content: "\2713";
  position: absolute;
  left: 0.5em;
}

.option.disabled {
  color: #ccc;
}
