.comboboxWrapper {
  position: relative;
  display: inline-block;
  width: 300px;
  border: 1px solid #dfe1e5;
}

.combobox {
  display: flex;
  min-height: 1rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding: 0.5em 1em 0.5em 0.5em;
}

.combobox:focus {
  outline: 3px solid blue;
}

.combobox::after {
  content: "\25BC";
  position: absolute;

  width: 1rem;
  text-align: center;
  font-size: 0.8rem;
  top: 1px;
  right: 1px;
  bottom: 1px;
  overflow: hidden;
  background-color: #fff;
}

.combobox.disabled {
  opacity: 0.5;
}

.display {
  flex: 1;
}


