.month {
    border: 1px solid #ccc;
    font-size: 15px;
}
.tr {
  display: flex;
}

.th, .td {
    text-align: center;
    width: 35px;
    height: 35px;
    line-height: 30px;
    box-sizing: border-box;
}

.th {
    font-size: 0.8em;
    color: #666;
}

.td + .td {
    border-left: 1px solid #ccc;
}

.td.weekend {
    background-color: #eee;
    color: #444;
}

.td:not(.disabled):not(:empty):not(.not_current){
    cursor: pointer;
}

.td:not(.disabled):not(:empty):not(.not_current):hover{
    background-color: #ddd;
}

.tr + .tr {
    border-top: 1px solid #ccc;
}

.td > span {
    border: 2px solid transparent;
}

.td.today > span {
    border-bottom-color: teal;
}

.weekend.not_current,
.not_current {
    color: #aaa;
}